SoapGameClient/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6185/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Soap_WCF_Uden_DB" />
  <xs:element name="GetGame">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Soap_WCF_Uden_DB" minOccurs="0" name="GetGameResult" nillable="true" type="q1:ArrayOfGame" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Soap_WCF_Uden_DB" minOccurs="0" name="newGame" nillable="true" type="q2:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Soap_WCF_Uden_DB" minOccurs="0" name="deleteGame" nillable="true" type="q3:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Soap_WCF_Uden_DB" minOccurs="0" name="game" nillable="true" type="q4:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>